# Backoffice credentials
ZIPGO_USER=admin
ZIPGO_PASS=

# Force localhost mode even when apps/root.txt is set
ZIPGO_LOCALHOST=

# Comma-separated list of IPs allowed to access the backoffice (all IPs allowed if unset)
ZIPGO_BO_ALLOW=
